{% extends "siteplan/base.html" %}
{%load crispy_forms_tags%}
{%block content%}
<div class="row">
	<div class= "col-lg-2"></div>
	<div class = "col-lg-8">
		<div class ="content-section">
			<form method="POST" enctype="multipart/form-data" id="deviceForm" data-floors-url="{% url 'ajax_load_floors' %}" novalidate>
				{%csrf_token%}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Create new Device</legend>
					{{ form |crispy }}
				</fieldset>

				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $.getJSON('data.json', function (data) {
        console.log('It worked!');
    });
</script>
{%endblock content%}