{% extends "base.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create new Device
            </legend>
            <div class="form-group">
                {{ form.devicename.label(class="form-control-label") }}
                {% if form.devicename.errors %}
                    {{ form.devicename(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.devicename.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.devicename(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
               {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.longitude.label(class="form-control-label") }}
               {% if form.longitude.errors %}
                    {{ form.longitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.longitude.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.longitude(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.latitude.label(class="form-control-label") }}
               {% if form.latitude.errors %}
                    {{ form.latitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.latitude.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.latitude(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.height.label(class="form-control-label") }}
               {% if form.height.errors %}
                    {{ form.height(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.height.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.height(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label(class="form-control-label") }}
               {% if form.picture.errors %}
                    {{ form.picture(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.picture.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.picture(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.url.label(class="form-control-label") }}
               {% if form.url.errors %}
                    {{ form.url(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.url.errors %}
                            <span>
                                {{error}}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.url(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock content %}