{% extends "base.html" %}

{% block content %}

<div class="container">
<h1>{{device.devicename}}</h1>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/' + device.image_file)}}"
<div class="media-body">
    <div class="article-metadata">
        <h2>

        </h2>
        <small class="text-muted"> {{device.date_added.strftime('%Y-%m-%d')}}</small>
    </div>
</div>
    </article>
 </div>

{% endblock content %}